.keep-right {
    text-align: right;
}

.close-button {
    width: 16px;
    text-align: right;
}

.form-size {
    min-width: 150px;
    width: 100%;
}

.full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}