<div class="container">
  <div fxLayout="row wrap">
    <div fxFlex="5">
      <div class="btn-edit-text">
        <mat-icon>format_bold</mat-icon>
      </div>
    </div>
    <div fxFlex="5">
      <div class="btn-edit-text">
        <mat-icon>format_italic</mat-icon>
      </div>
    </div>
    <div fxFlex="5">
      <div class="btn-edit-text">
        <mat-icon>format_underlined</mat-icon>
      </div>
    </div>
    <div fxFlex="5">
      <div class="btn-edit-text">
        <mat-icon>insert_link</mat-icon>
      </div>
    </div>
    <div fxFlex="5">
      <div class="btn-edit-text">
        <mat-icon>format_list_bulleted</mat-icon>
      </div>
    </div>
    <div fxFlex="5">
      <div class="btn-edit-text">
        <mat-icon>format_list_numbered</mat-icon>
      </div>
    </div>
    <div fxFlex="5">
      <div class="btn-edit-text">
        <mat-icon>format_quote</mat-icon>
      </div>
    </div>
  </div>
  
  <div class="margin-box" fxLayout="row wrap">
    <div fxFlex="100">
      <mat-form-field class="comment-box-size">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput rows="10"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
