.container {
    width: 100%;
}

.btn-edit-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    -webkit-box-shadow: -1px 3px 5px 0px #969696;
    -moz-box-shadow: -1px 3px 5px 0px #969696;
    box-shadow: -1px 3px 5px 0px #969696;
    cursor: pointer;
}

.margin-box {
    margin-top: 20px;
}

.comment-box-size {
    width: 100%;
    max-width: 800px;
}